{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Word</title>
    <link rel="stylesheet" href="{% static '/CSS/main.css' %} ">
</head>
<body>
    <!-- Start Slider-navbar -->
    <div class="slider-navbar">
        <div class="container">
            <!-- Start NavBar -->
            <div class="navbar">
                <h3><span>Travel</span> Blog</h3>
                <ul>
                    <li class="active"><a href="{% url 'home-page' %}">Home</a></li>
                    <li><a href="#">Sea</a></li>
                    <li><a href="#">Mountain</a></li>
                    <li><a href="#">Forest</a></li>

		    {% if user.is_authenticated %}
		    <li><a href="{% url 'logout' %}">Logout</a></li>
		    	<li><a href="#">Profile</a></li>

		     {% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
			<li><a href="{% url 'register' %}">Register</a></li>
		     {% endif %}

                    <li><a href="#">About Us</a></li>
                </ul>
            </div>

            <!-- End NavBar -->
            <div class="clear-float"></div>
           
            <!-- Start Slider -->
              
            <!-- End Slider -->

        </div>
    </div>
    <!-- End Slider-navbar -->
    <!-- start content -->

      <div class="content">
        <div class="container">
           <!-- Start show title best 5 blog -->

            <div class="best-blog">
                <h2>Best Blog Watched !</h2>
                <a href="#">Blog Article 1</a>
                <a href="#">Blog Article 2</a>
                <a href="#">Blog Article 3</a>
            </div>

            <!-- end show title best 5 blog -->

    {% block content %}

        <!-- Place of our content block -->

    {% endblock content %}

         </div>
    </div>
    <!-- end content -->
    <!-- Start contact Me -->

    <form class="contact-me">
        <div class="container">
            <h2>Get in touch</h2>
            <div class="label-input">
                 <label>Name</label>
                <input type="text">
            </div>

            <div class="label-input">
                <label>Email</label>
                <input type="text">
            </div>

            <div class="label-input">
                <label>Message</label>
                <textarea></textarea>

                <input type="submit" value="Send Message">
            </div>
        </div>
    </form>
    <!-- end contact Me -->
    <!-- start footer -->

    <div class="footer">
        <div class="container">
            <span>Copyright  &copy; Made with &hearts; By Dali</span>
        </div>
    </div>

    <!-- end footer -->



</body>
</html>
