{% extends "blog/base.html" %}
{% load static %}

{% block content %}

    <div class="blog-show">
        <div class="blog-detail">

            <h1>Should you travel during COVID-19?</h1>
            <img src="{% static '/images/travel.jpg' %}" alt="">
            <div class="date">
               <strong>Posted:</strong> 11/9/2020 | November 9th, 2020
            </div>
            <p>
                These days, due to COVID-19, the subject of travel elicits very strong reactions from people — and rightly so. Whenever I post travel tips on social media and forget to include the words “at a later date” or “when it’s safe,” a chorus of commenters tell me it’s irresponsible to promote travel during a pandemic, that everyone just needs to stay home, and I should be ashamed of myself.

            </p>
        </div>
    </div>

{% endblock content %}