{% extends "blog/base.html" %}
{% load static %}


{% block content %}

    <!-- start Blog show article -->

        <div class="blog-show">
            <h1>Latest blog posts </h1>
           <div class="blog-image-title">

                <img src="{% static '/images/travel.jpg' %}" alt="">
                <a href>First blog article</a>

           </div>
            <div class="blog-image-title">

                <img src="{% static '/images/travel.jpg' %}" alt="">
                <a href="{% url 'detail' %}">Second blog article</a>

           </div>
            <div class="blog-image-title">

                <img src="{% static '/images/travel.jpg' %}" alt="">
                <a href="#">Third blog article</a>

           </div>

        </div>
    <!-- End Blog show article -->

{% endblock content %}