{% extends "blog/base.html" %}
{% load static %}


{% block content %}

    <!-- start Blog show article -->

        <div class="blog-show">
            <h1>Latest blog posts </h1>

            {% for blog in blogs %}
               <div class="blog-image-title">

                   <a href="{% url 'detail' blog_id=blog.pk %}">
                       <img src="{{ blog.image.url }}" alt="">
                   </a>

                   <a href="{% url 'detail' blog_id=blog.pk %}">
                       {{ blog.title }}
                   </a>

               </div>
            {% endfor %}

        </div>
    <!-- End Blog show article -->

{% endblock content %}