/* Start Main Rules */
body {
    margin: 0;

}

.container {
    width: 1200px;
    margin: 0 auto;
}
.clear-float {  clear: both;    }


/* End Main Rules */

/* Start Slider-navbar */

.slider-navbar { background-color: #3a93b2; }

.slider-navbar .navbar h3 {
    float: left;
    font-size: 38px;
    color: #666;
    margin-top: 25px;
}
.slider-navbar .navbar h3 span {
    color: rgba(1, 217, 62, 0.95);
}

.slider-navbar .navbar ul {     list-style-type: none; float: right;   }

.slider-navbar .navbar ul li {
    display: inline-block;
    padding: 0 15px;
    font-size: 22px;
    margin-top: 25px;
}
.slider-navbar .navbar ul li a {
    text-decoration: none;
    color: #c6edf4;
    font-weight: 777;
    font-family: monospace;
}
.slider-navbar .navbar ul li.active a,
.slider-navbar .navbar ul li a:hover{   color: #555;  }

/* End Slider-navbar */

/* start content */
.content {
    margin: 20px auto;
    overflow: hidden;
    min-height: 500px;
}
.content .best-blog {
    width: 20%;
    float: left;
    background-color: #3a93b2;
    margin-right: 3%;
    height: 500px;
    padding-left: 3px;
    padding-top: 40px;
}

.content .best-blog h2 {
    color: #FFF;
    text-transform: uppercase;
    font: bold 20px Tahoma;
}
.content .best-blog a {
    display: block;
    padding: 5px 0;
    color: #c6edf4;
    text-decoration: none;
    font-size: 20px;
}

.content .blog-show {
    width: 76%;
    float: left;
    text-align: center;
    padding-bottom: 60px;
    overflow: hidden;
}

.content .blog-show h1 {
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace
}

.content .blog-show .blog-image-title {
    width: 45%;

    display: inline-block;

}
.content .blog-show .blog-image-title a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-family: cursive;
    padding-bottom: 20px;
    text-align: center;
    display: block;
    text-transform: capitalize;
}

.content .blog-show .blog-image-title a:hover {color: #2da1c4}

.content .blog-show  img {
    width: 85%;
    height: 250px;
    margin: 50px 0 10px 0;
}

.content .blog-show .blog-detail {
    text-align: left;
    min-height: 1000px;
}
.content .blog-show .blog-detail h1 {
    text-transform:capitalize;
    font-size: 30px;
    font-family: monospace;
}
.content .blog-show .blog-detail .date {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Calibri;
}

.content .blog-show .blog-detail p {
    width: 80%;
    line-height: 1.6;
    font-size: 18px;
    text-align: justify;
    font-family: Calibri;
}

.content .blog-show .blog-detail img {
    width: 500px;
    height: 400px;
    margin: 15px 0 10px 0;
}
.content .blog-show .login-logout {
	text-align: center;
	padding: 10px auto;
	margin: 20px auto;
}
.content .blog-show .login-logout fieldset {
	border: 1px solid #ccc;
}

.content .blog-show .login-logout form{
	text-align: left;
}
.content .blog-show .login-logout fieldset legend {
	font-size: 28px;
	color: #444;
	margin-bottom: 40px;
	font-family: monospace;
}

.content .blog-show .login-logout label {
	font-size: 20px;
	color: #555;
	text-align: left;
	
}
.content .blog-show .login-logout input {
    display: block;
    font-size: 16px;
	margin: 8px 0;
	padding: 8px 5px;
	width: 500px;
	color: #666;
}
.content .blog-show .login-logout button {
	background: none;
	border: 1px solid green;
	padding: 5px 10px;
	margin: 30px 0 15px;
	font-size: 20px;
	font-family: monospace;
	text-align: left;
}
.content .blog-show .login-logout a {
    text-decoration: none;
    font-size: 18px;
    color:blue;
}
.content .blog-show .profile .profile-image {
    width: 50%;
    height: 80%;
}

.content .blog-show .profile legend {
    font-size: 35px;
    color: #555;
}

.content .blog-show .blog-create {
	text-align: left;
}

.content .blog-show .blog-create input{
	display: block;
	padding: 10px 5px;
	margin : 5px 0;
	width : 70%;
	border: 1px solid #ccc;
}

.content .blog-show .blog-create label {
  	margin: 10px 0; 
        color: #444;
        text-align: left;
	font: 22px bold;
}

.content .blog-show .blog-create textarea {

	display: block;
	width: 80%;
	height:500px;
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 5px;

}
.content .blog-show .blog-create button {
        background: none;
        border: 1px solid green;
        padding: 5px 10px;
        margin: 30px 0 15px;
        font-size: 20px;
        font-family: monospace;
        text-align: left;
}




/* end content */
/* start contact me */
.contact-me {   background-color: #3a93b2; }

.contact-me h2  { 
	color: #555;
	text-align: center;
	font-size: 30px;
	padding: 15px 0;
	text-transform: uppercase;
	font-family: monospace;
}

.contact-me .label-input {   display: inline-block; margin-right: 10px; }
.contact-me .label-input label {
    display: block;
    padding: 10px 0;
    color: #c6edf4;
    font-size: 20px;
    font-family: monospace;
}

.contact-me .label-input input[type="text"] {
    background: none;
    border: 1px solid #ccc;
    width: 550px;
    padding: 12px 0;
}
.contact-me textarea {
    margin-top: 10px;
    display: block;
    height: 250px;
    width: 1116px;
    background: none;
    border: 1px solid #ccc;
}

.contact-me input[type='submit'] {
    margin-top: 10px;
    background: none;
    color: #c6edf4;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: monospace;

}

/* end contact me */
/* start footer */

.footer {
    background-color: #ccc;
    text-align: center;
    padding: 20px 0;
}

.footer span {  font-size: 18px;    }

/* end footer */


